/*Home page*/

.home-container {
  background: url(https://img.freepik.com/free-photo/individual-doing-sport-healthy-lifestyle_23-2151764292.jpg?t=st=1741091514~exp=1741095114~hmac=516944cee95b80e906051dae8e97308091acd15661a1c7a23ef94d87d9b528e5&w=1060) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
